!!! strict
%html.no-js{:lang => "da-DK", "xml:lang" => "da-DK", :xmlns => "http://www.w3.org/1999/xhtml", :'xmlns:og' => "http://ogp.me/ns#" }

  %head
    %script{:type => "text/javascript", :src  => "/von/js/jquery.js"}
    %script{:type => "text/javascript", :src  => "/von/js/d3.v2.js" }
    %script{:type => "text/javascript", :src  => "/von/js/rickshaw.js"}

    %link{:href => "/von/css/reset.css", :rel => "stylesheet", :type => "text/css" }
    %link{:href => "/von/css/style.css", :rel => "stylesheet", :type => "text/css" }
    %link{:href => "/von/css/rickshaw.css", :rel => "stylesheet", :type => "text/css" }

  %body

    .header
      %h1 Von Dashboard

    #main

      - Von.config.currents.keys.each do |counter|
        .experiment
          .experiment-header
            %h2= counter

          - Von.config.periods[counter].map(&:time_unit).each do |period|

            .experiment-header
              %h2= "Per #{period}"

            - id = "chart_#{counter}_#{period}"

            %div{id:id}
            :javascript
              $(document).ready(function() {
                var graph = new Rickshaw.Graph( {
                    element: document.querySelector("##{id}"),
                    width: 600,
                    height: 200,
                    series: [{
                        color: 'steelblue',
                        data: JSON.parse('#{Von.to_rickshaw(counter, period)}'),
                        name: "#{period}"
                    }]
                });

                new Rickshaw.Graph.Axis.Time( { graph: graph } );
                new Rickshaw.Graph.HoverDetail( { graph: graph } );
                graph.render();

              })

    #footer
      Powered by sinatra
